* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home-body {
    background-image: url("../resources/Group_207.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#slogun {
    margin: 3rem;
    margin-left: 4rem;
    display: inline-block;
    margin-top: 17rem;
}

#slogun h1 {
    font-size: 4rem;
    color: white;
    font-weight: 600;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rosybrown; */
}

#slogun h1 b {
    color: black;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(145, 46, 226); */
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    font-size: 1.2rem;
    opacity: 1;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
    font-size: 1.2rem;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
    font-size: 1.2rem;
}
#center-mode-slick{
    width: 80vw;
    
}
/* #animation_center{
    position: absolute;
    right: 13rem;
    top: 17rem;
    height: 20rem;
    width: 20rem;
    z-index: 100;
}
#world_center{
    height: 20rem;
    width: 20rem;
} */
/* #animation_circle{
    position: absolute;
    right: 8rem;
    top: 12rem;
    height: 30rem;
    width: 30rem;
    z-index: 10;
    padding: 1rem;
}
.common_circle{
    height: 5rem;
    width: 5rem;
    z-index: 10;
} */
/* #airoplane_rotate{
    position: absolute;
    top: 1rem;
    right: 1rem;
    transform: rotate(310deg);
}
#kayak_rotate{
    position: absolute;
    top: 1rem;
    left: 1rem;
    transform: rotate(90deg);
} */
/* #camp_rotate{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
} */
/* #advanture_rotate{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
} */
/* #hot_air_ballon{
    position: absolute;
    bottom: 0;
    left: 25%;
    height: 10rem;
    width: 50rem;
} */
/* .hot_air_up_class{
    height: 5rem;
    width: 5rem;
    margin-left: 5rem;
} */
#animation_cloud{
    position: absolute;
    height: 35vh;
    width: 80vw;
    top: 10rem;
    left: 10%;
}
.cloud_img_class{
    height: 6rem;
    width: 10rem;
}
#cloud1_img{
    position: absolute;
    bottom: 0;
    right: 35rem;
    z-index: 10;
}
#cloud2_img{
    position: absolute;
    top: 0;
    right: 10rem;
    z-index: 10;
}
#cloud3_img{
    position: absolute;
    top: 8rem;
    right: 5rem;
    z-index: 1;
}
#animeHome{
    width: 600px;
    height: 600px;
    position: absolute;
    top: 10rem;
    right: 10rem;
}