:root {
  --display-shown-POH: visible;
  --image-height-POH: 14rem;
  --title-width-POH: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Slider {
  visibility: var(--display-shown-POH);
}
#pause-main {
  width: 90%;
  margin: auto;
  top: 12rem;
  position: relative;
}
#POH-title {
  visibility: var(--display-shown-POH);
  width: var(--title-width-POH);
  transition: 1s;
  overflow: hidden;
  height: 3rem;
  padding: 5px;
  text-align: center;

  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
}
.P_img {
  height: var(--image-height-POH);
  width: 300px;
  padding: 5px;
  border-radius: 20px;
  visibility: var(--display-shown-POH);
  transition: 1s;
  box-shadow: 5px 10px 18px #888888;
  margin: auto;
}
.p_loc_name {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  visibility: var(--display-shown-POH);
}
