* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#slide-country{
    position: absolute;
    margin: auto;
    left: 10%;
    margin-top: 10rem;
    height: 20rem;
    width: 80%;
    border: 1px solid red;
    color: red;
}

.img-block{
    display: block;
    height: 20rem;
    width:60%;
    margin: auto;
   
}