*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#community_main{
     /* background-image: url("../resources/Group_207.png");  */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height: 100%;
    width: 100%;
}
.CM_slick_div{
    background-color: white;
}
#p-profile {
    display: flex;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
#pic {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: brown;
}
#txt{
    display:flex;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
#ed-photo{
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: brown;
    height:600px;
    width:99%;
}
#dsin{
  border-radius: 10px;
  padding: 5px;
  margin:-5px 5px;
  background-color:deepskyblue;
  height:45px;
  /* width: 100%; */
}
.taab{
  text-align: left;
  margin-left: 10px;
}
.tab {
    text-align: left;
    margin-left: 50vh;
}
.ttab{
  text-align: left;
  margin-left: 45vh;
}


  