*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#community_main{
    overflow: scroll;
    height: 100vh;
    width: 100%;
}
.CM_slick_div{
    background-color: white;
}
#community_main::-webkit-scrollbar{
    display: none;
}
#p-profile {
    display: flex;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
#pic {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: brown;
}
#txt{
    display:flex;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
#ed-photo{
    border-radius: 5px;
    padding: 15px;
    height:700px;
    width:100%;
    margin-bottom: 30px;
}
#post-pic{
    height:700px;
    width:100%;
}
#dsin{
  border-radius: 5px;
  height:45px;
  width:1230px;
  padding : 5px;
  background-color: blue;
  margin-left: 10px;
}
.taab{
  text-align: left;
  margin-left: 20px;
  background-color:red;
  height:10px;
  width:100px;
}
.tab{
    text-align: left;
    margin-left: 40vh;
    background-color:white;
}
.ttab{
  text-align: left;
  margin-left: 45vh;
  background-color:white;
}


  