* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Profile-Container {
  background-image: url(../resources/Group_207.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  height: 100vh;
  width: 100vw;
}

#Container {
  width: 800px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 30px 30px 30px;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 5px 10px 10px hsla(0, 0%, 0%, 0.164);
  text-align: center;
  align-items: center;
  justify-content: center;
}

#prof-title {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  color: rgb(170, 47, 228);
  width: 110px;
  border-bottom: 2px solid rgb(170, 47, 228);
  text-align: center;
}

#profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

#username {
  font-size: 20px;
  font-weight: 500;
  color: rgb(170, 47, 228);
}

#email,
#password,
#address {
  width: 410px;
}

#btn {
  display: flex;
  justify-content: center;
}

#btn-update,
#btn-logout {
  width: 200px;
  background-color: rgb(170, 47, 228);
  display: flex;
  justify-content: center;
  margin: 10px;
}

#btn-update:hover {
  background-color: rgb(31, 32, 32);
}