body::-webkit-scrollbar{
  display: none;
}

#admin-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(205, 235, 255);
  text-align: center;
  font-family: "Poppins";
  text-transform: uppercase;
}
#ad-head {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 50px;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;

}
#ad-head-btn{
  padding: 10px;
  border-radius: 1rem;
  height: 3rem;
  margin: auto;
  margin-right: 5px;
  background-color: white;
  border: 0;
  box-shadow: 5px 10px 10px hsla(0, 0%, 0%, 0.164);
  text-transform: uppercase;
  transition: 1s all ease;
}
#ad-head-btn::before{
  background: #FF7675;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
  width: 0;
  height: 100%;
}
#ad-head-btn:hover::before{
  width: 100%;
}
#ad-head-link{
  text-decoration: none;
  font-size: 1.4rem;
}
#admin-1st {
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#admin-2nd {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#CNT-Country,
#CNT-Spot,
#CNT-Special,
#CNT-Hotel {
  margin: 10px;
  height: 320px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  text-align: center;
  box-shadow: 5px 10px 10px hsla(0, 0%, 0%, 0.164);
}
#CNT-User {
  margin: 10px;
  height: 550px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  text-align: center;
  box-shadow: 5px 10px 10px hsla(0, 0%, 0%, 0.164);
}
#CNT-Location,
#CNT-Flight,
#CNT-Post {
  margin: 10px;
  height: 360px;
  width: 300px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  text-align: center;
  box-shadow: 5px 10px 10px hsla(0, 0%, 0%, 0.164);
}
.choplc{
  margin: 5px;
  width: 220px;
}
.choplc::-webkit-file-upload-button{
  width: 100px;
  height: 30px;
  background: rgb(34, 34, 34);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.plc {
  width: 200px;
  height: 12px;
  margin: 5px;
  padding: 10px;
  border: 2px solid hsla(0, 0%, 0%, 0.164);
  border-radius: 5px;
}
#btn-ad {
  margin-top: 20px;
  width: 100px;
  height: 30px;
  background-color: rgb(34, 34, 34);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
