#register_page_body {
  margin: 0;
  padding: 0;
  background-image: url(../resources/register.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
  height: 100vh;
  width: 100vw;
}
.Container {
  width: 500px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(20%, -50%);
  padding: 20px 30px 30px 30px;
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 5px 10px 10px hsla(0, 0%, 0%, 0.164);
  text-align: center;
}
.reg-title{
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(170, 47, 228);
}
#outlined-username, #outlined-email, #outlined-address{
  width: 410px;
}
#btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#btn-submit{
  width: 200px;
  background-color: rgb(31, 32, 32);
}
#btn-submit:hover{
  background-color: rgb(140, 161, 255);
}