:root {
    --display-shown-CMS: visible;
    --image-height-CMS: 18rem;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#center-main{
    width: 90%;
    /* border: 1px solid red; */
    align-items: center;
    position: relative;
    top: 10rem;
    margin: auto;
    overflow: hidden;
}
.c_img{
    height: var(--image-height-CMS);
    width: 28rem;
    border-radius: 20px;
    box-shadow: 5px 10px 18px #888888 ;
    visibility: var(--display-shown-CMS) ;
    transition: 1s;
}

